<select class="form-control padding" name="location" ng-model="newMem.location">
            <option value="choose a city" disabled selected>choose a city</option>
            <option value="Los Angeles">Los Angeles</option>
            <option value="Alabama">Albama</option>
            <option value="New York">New York</option>
            <option value="Tel Aviv">Tel Aviv</option>
            <option value="Jerusalem">Jerusalem</option>
          </select>
         <!--  <input class="form-control padding" type="text" name="location" ng-model="newMem.location"> -->