<section id="about">
    <div class="container">
      <h2>About</h2>
      <div class="row">
        <div class="col-sm-4 center-block">
          <h2>Danielle</h2>
          <img class="img-circle img-responsive" src="./images/danielle.png">
          <div>
            <a href="https://github.com/daniellecarrick"><i class="fa fa-github" aria-hidden="true"></i></a>
            <a href="https://twitter.com/daniec"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="http://daniellecarrick.com"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
          </div>
        </div>
        <div class="col-sm-4">IMAGE</div>
        <div class="col-sm-4">IMAGE</div>
      </div>
    </div>
</section>