<section id="about">
    <div class="container">
      <h2>About</h2>
      <p>The project was inspired by The Awl's <a href="https://theawl.com/memory-bombs-2f20e5f3e384">Memory Bombs</a> and created during a hackathon at <a href="http://www.elevationacademy.co/">Elevation Academy</a>.</p>
      <div class="row">
        <div class="col-sm-4 center-block">
          <h3>Danielle</h3>
          <img class="img-circle img-responsive" src="./images/danielle-1.png">
<!--           <div>
            <p><i class="fa fa-github" aria-hidden="true"></i><a href="https://github.com/daniellecarrick"> daniellecarrick</a></p>
            <p><i class="fa fa-twitter" aria-hidden="true"></i><a href="https://twitter.com/daniec"> @daniec</a></p>
            <p><i class="fa fa-user-circle-o" aria-hidden="true"></i><a href="http://daniellecarrick.com"> www.daniellecarrick.com</a></p>
          </div> -->
          <div class="social-icons">
            <div class="col-sm-12">
              <span class="col-xs-4"><a href="https://github.com/daniellecarrick"><i class="fa fa-github" aria-hidden="true"></i></a></span>
              <span class="col-xs-4"><a href="https://twitter.com/daniec"><i class="fa fa-twitter" aria-hidden="true"></i></a></span>
              <span class="col-xs-4"><a href="http://daniellecarrick.com"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a></span>
            </div>
          </div>
        </div>
        <!-- NATE -->
        <div class="col-sm-4 center-block">
          <h3>Nate</h3>
          <img class="img-circle img-responsive" src="./images/nate.png">
          <div class="social-icons">
            <div class="col-sm-12">
              <span class="col-xs-4 col-xs-offset-4"><a href="https://github.com/n8chesley"><i class="fa fa-github" aria-hidden="true"></i></a></span>
            </div>
          </div>
        </div>
        <!-- Einar -->
        <div class="col-sm-4 center-block">
          <h3>Einar</h3>
          <img class="img-circle img-responsive" src="./images/einar.png">
          <div class="social-icons">
            <div class="col-sm-12">
              <span class="col-xs-4 col-xs-offset-3"><a href="https://github.com/einarzb"><i class="fa fa-github" aria-hidden="true"></i></a></span>
              <span class="col-xs-4"><a href="https://twitter.com/einarzb"><i class="fa fa-twitter" aria-hidden="true"></i></a></span>
              <!-- <span class="col-xs-4"><a href="http://daniellecarrick.com"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a></span> -->
            </div>
          </div>
        </div>
      </div>
    </div>
</section>