<section class="intro" id="section01">
  <div class="landing-page">
    <div ng-model="container" class="container">
      <div class="row">
        <h1>Describe a memory that <br />is important to you.</h1>
        <p>It can be about a person, a place or a thing.</p>
        <!-- begin first row -->
        <form name="memoryForm" novalidate>
        <div class="col-sm-10 col-sm-offset-1">
          <!-- <p>Think of a person, place or thing that evokes a strong memory.</p> -->
            <textarea class="form-control" id="memory" type="text" name="memory" placeholder="Share your memory" ng-model="newMem.body" ng-minlength="20" ng-maxlength="200" ng-required="true"></textarea>
              <p ng-show="memoryForm.memory.$error.minlength" class="help-block">Text is too short.</p>
              <p ng-show="memoryForm.memory.$error.maxlength" class="help-block">Text is too long.</p>
            <!-- test input {{ newMem.body }} -->
        </div>
      </div>
      <!--begin second row-->
      <div class="row">
        <div class="range-selector">
          <p>Was your memory more negative or positive?</p>
          <div class="col-xs-3 neg">
            <label><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></label>
          </div>
        <div class="col-xs-6 scale">
          <div class="btn-toolbar" role="toolbar">
            <div class="btn-group" role="group" ng-selected="newMem.posNeg" ng-model="selected" name="sentiment">
              <button type="button" class="btn btn-default" ng-click="newMem.posNeg = 1">1</button>
              <button type="button" class="btn btn-default" ng-click="newMem.posNeg = 2">2</button>
              <button type="button" class="btn btn-default" ng-click="newMem.posNeg = 3">3</button>
              <button type="button" class="btn btn-default" ng-click="newMem.posNeg = 4">4</button>
              <button type="button" class="btn btn-default" ng-click="newMem.posNeg = 5">5</button>
              <button type="button" class="btn btn-default" ng-click="newMem.posNeg = 6">6</button>
              <button type="button" class="btn btn-default" ng-click="newMem.posNeg = 7">7</button>
              <button type="button" class="btn btn-default" ng-click="newMem.posNeg = 8">8</button>
              <button type="button" class="btn btn-default" ng-click="newMem.posNeg = 9">9</button>
              <button type="button" class="btn btn-default" ng-click="newMem.posNeg = 10">10</button>
              <!-- test input {{ newMem.posNeg }} -->
            </div>
          </div>
          <!-- <p ng-show="newMem.posNeg" class="help-block">Make a selection</p> -->
        </div>
          <div class="col-xs-3 pos">
            <label><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></label>
          </div>
        </div>
      </div>
      <!--begin third row-->
      <div class="row">
        <div class="col-sm-4 col-sm-offset-1">
          <!-- <p for="age">Age at memory</p> -->
            <input class="form-control padding" placeholder="Age at memory" id="age" min="0" max="100" type="number" name="age" ng-model="newMem.age" ng-required="true">
            <!-- test input {{ newMem.age }} -->
        </div>
        <div class="col-sm-6 loc">
       <!--    <p for="location">Memory location</p> -->
        <input type="text" class="form-control padding" name="location" placeholder="Memory location" ng-autocomplete ng-model="newMem.location" options="options" details="details" ng-required="true"/>
      </div><!--end row-->
      <div class="row">
        <div class="col-sm-12">
          <div class="share">
              <button class="btn btn-default" type="submit" ng-click="addMem(newMem)" ng-disabled="memoryForm.$invalid" ui-sref="list">
               Share</button>
          </div>
        </div>
      </div>
    </form>
  <!--end container-->
  </div>
 </section>