body, html {
  height: 100%;
  color: white;
  font-family: 'Roboto Slab', serif;
}

.landing-page {
  height: 100%;
  position: relative;
  padding: 30px 0;
  color: #cdbfe3;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
/*  background-color: #6f5499;*/
  background-image: -webkit-gradient(linear,left top,left bottom,from(#563d7c),to(#6f5499));
  background-image: -webkit-linear-gradient(top,#563d7c 0,#6f5499 100%);
  background-image: -o-linear-gradient(top,#563d7c 0,#6f5499 100%);
  background-image: linear-gradient(to bottom,#563d7c 0,#6f5499 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
  background-repeat: repeat-x;
}

.landing-page h1 {
  color: white;
  font-family: 'Roboto Slab', serif;
  font-size: 3em;
}

.btn-default {
    color: white;
    background-color: rgba(255,255,255,0.1);
    border-color: rgba(255,255,255,0.5);;
}

#memory {
  margin: 20px 0px;
}

.form-control {
  color: white;
  background-color: rgba(255,255,255,0.1);
  border: none;
}

.input-group, .padding, textarea {
  margin: 40px 0px;
}
input::placeholder, input::-webkit-input-placeholder {
  font-color: white;
}

#memory {
  height: 100px;
}