body, html {
  height: 100%;
  color: white;
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
}

.btn-default {
    color: white;
    background-color: rgba(255,255,255,0.1);
    border-color: rgba(255,255,255,0.5);
}


.card {
  color:#fff;
  padding-left: 20px;
  overflow-y: scroll;
  margin-bottom: 20px;
  font-size: 14px;
}

/***********************/
/* Landing Page styles */
/***********************/

.navbar-brand {
  cursor: pointer;
}

.intro .glyphicon {
  font-size: 30px;
}

#section01 {
  height: 100%;
}

.share {
  padding: 5px 20px;
}

.landing-page {
  height: 100%;
  position: relative;
  padding: 30px 0;
  color: white;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
/*  background-color: #6f5499;*/
  background-image: -webkit-gradient(linear,left top,left bottom,from(#46228e),to(#964893));
  background-image: -webkit-linear-gradient(top,#46228e 0,#964893 100%);
  background-image: -o-linear-gradient(top,#46228e 0,#964893 100%);
  background-image: linear-gradient(to bottom,#46228e 0,#964893 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#46228e', endColorstr='#964893', GradientType=0);
  background-repeat: repeat-x;
}

.landing-page h1 {
  color: white;
  font-family: 'Roboto Slab', serif;
  font-size: 2em;
  margin-bottom: 20px;
}

#memory {
  margin: 20px 0px;
  height: 100px;
  margin: 0 auto;
}

.neg {
  font-size: 16px;
  text-align: right;
}

.pos {
  font-size: 16px;
  text-align: left;
}

.locSelect {
  margin-left: 50px;
}
/*
.scale {
  margin-left: 0px;
  padding-left: 25px;
}*/

.btn-group {
  width: 100%;
}

.btn {
  padding-left: 3.5%;
  padding-right: 3.5%;
}

/***********************/
/* List View styles */
/***********************/

.textview {
  background: #43C6AC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #43C6AC, #191654);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #43C6AC, #191654); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /*background-repeat: repeat-x;
  overflow-y: auto;*/
}

.textview h2 {
  text-align: center;
}

#sel {
    color: white;
    background-color: rgba(255,255,255,0.1);
    border: none;"
}

.list-filters .btn {
    color: white;
    background-color: rgba(255,255,255,0.1);
    border: none;
}

.ageBtn:hover {
  background-color: #fff;
  color:#6f5499;
}

select {
  width: 200px;
}

.loc {
  margin-top: 1px;
}

.list-filters {
  margin: 3% 0%;
}
/***********************/
/* Explore section styles
/***********************/

.custom-nav .navbar-right {
  height: 50px;
  float: right;
  margin-right: 10px;
}

.custom-nav button {
  padding-right: 30px;
  padding-left: 30px;
}

.custom-nav .btn-group {
  margin-top: 7px;
}

nav.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/***********************/
/* D3 section styles   */
/***********************/

.d3 {
  background-image: -webkit-gradient(linear,left top,left bottom,from(#bf2666),to(tomato));
  background-image: -webkit-linear-gradient(top,#bf2666 0,tomato 100%);
  background-image: -o-linear-gradient(top,#bf2666 0,tomato 100%);
  background-image: linear-gradient(to bottom,#bf2666 0,tomato 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf2666', endColorstr='tomato', GradientType=0);
  background-repeat: repeat-x;
  position: relative;
}

/*.d3 {
  background-color: tomato;
  position: relative;
}*/

.d3 h2 {
  text-align: center;
}

.chart-container {
  position: relative;
}

.chart-title {
  color: black;
}

  /*chart specific*/

div.tooltip {
  position: absolute;
  padding: 20px;
  font-size: 12px;
  color: #1c1c1c;
  max-width: 300px;
  background-color: rgba(255,255,255,0.8);
  pointer-events: none;
}

.dot {
  fill: white;
}

text {
  fill: white;
  font-size: 14px;
  font-family: 'Roboto Slab', serif;
}

.tick text {
  fill-opacity: .5;
}

/* come back to this once I know how to add variables to position triangle in the middle
div.tooltip:after {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid rgba(220,220,220,0.6);
  content: " ";
  display: block;
  top: 50;
  position: absolute;
  left: -9px;
}*/

.chart-container {
  margin: 30px 0px;
  background-color: none;
  width:950px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.label {
  color: black;
}

/* ticks */
.x.axis line, .y.axis line {
  stroke: none;
  stroke-width: 0px;
}

/* axis line */
.x.axis path, .y.axis path {
  stroke: white;
  stroke-width: 1.5px;
  stroke-opacity: .5;
}
/***********************/
/* About               */
/***********************/

#about {
  background: #134E5E;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #71B280, #134E5E);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #71B280, #134E5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#about a {
  color: white;
  text-decoration: underline;
}

#about h2, #about h3 {
  text-align: center;
}

span .fa {
  font-size: 25px;
}

.social-icons {
  margin-top: 20px;
}

/***********************/
/* Global Styles       */
/***********************/

.form-control {
  color: white;
  background-color: rgba(255,255,255,0.1);
  border: none;
}

.input-group, .input-padding, textarea {
  margin: 20px 0px 20px 0px;
}

section {
  min-height: 100%;
}

.view-container {
  height: 100%;
}



/*forcing white placeholder*/

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #fff !important;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #fff !important;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #fff !important;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #fff !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.range-selector {
  margin: 0px 0px 80px 0px;
}

.range-selector p {
  font-weight: bold;
  margin: 0 0 16px 0;
}

/* Media query styles */
@media (max-width: 500px) {
  .landing-page h1 {
    font-size: 2em;
  }

  .btn-toolbar .btn {
    padding: 2px;
  }

  .custom-nav button {
    padding-right: 20px;
    padding-left: 20px;
  }

  .landing-page {
    height: inherit;
  }

  .range-selector {
    margin-bottom: 20px;
  }
}
