<!DOCTYPE html>
<html ng-app="meMories">

<head>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>me.mories</title>
</head>

<body ng-controller="mainController">
    <div class="landing-page">
        <div class="container">
            <div class="row">
                <h1>me.mories</h1>
                <em>choose your memory</em><br><br>
                <div class="col-xs-4 pull-left">
                    <label>Age: </label> <button>0-20</button> <button>20-30</button> <button>30-40</button> <button>50+</button>
                </div>
                <div class="col-xs-4 col-xs-pull-1 pull-right">
                    Feeling: <button>:)</button> <button>:(</button>
                </div> 
                 <div class="col-xs-4 text-center">   
                 <label>Location:</label>
                 <select>
                    <option ng-repeat="x in uniqueLocs">{{x.location}}</option>
                    <!-- <option ng-repeat="x in memoriesdb">{{x.location}}</option> -->
                    <!-- <option ng-repeat="x in uniqueLocs | orderBy: 'location'">{{x.location}}</option> -->
                </select>
            </div>
            <br>
            <div class="row">
                <div class="card card-inverse" style="background-color: #333; border-color: #333;">
                    <div ng-repeat="x in memoriesdb | orderBy:'-age' | limitTo:5" class="card-block">
                        <h3 class="card-title">In {{ x.location }} at age {{ x.age }}</h3>
                        <h5>{{ x.posNeg }}/10 on the happiness scale</h5>
                        <p class="card-text">{{ x.body }}</p>
                  </div>
                </div>
                <div class="card card-inverse" style="background-color: #333; border-color: #333;">
                    <div ng-repeat="x in memoriesdb | orderBy:'-posNeg' | limitTo:5" class="card-block">
                        <h3 class="card-title">In {{ x.location }} at age {{ x.age }}</h3>
                        <h5>{{ x.posNeg }}/10 on the happiness scale</h5>
                        <p class="card-text">{{ x.body }}</p>
                    </div>
                </div>
                <div class="card card-inverse" style="background-color: #333; border-color: #333;">
                    <div ng-repeat="x in memoriesdb | orderBy:'-location' | limitTo:5" class="card-block">
                        <h3 class="card-title">In {{ x.location }} at age {{ x.age }}</h3>
                        <h5>{{ x.posNeg }}/10 on the happiness scale</h5>
                        <p class="card-text">{{ x.body }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services/memFactory.js"></script>
    <script src="js/controllers/mainController.js"></script>
</body>

</html>
